.nav-sidebar > li > strong {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
}

#loginPage {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #eee;
    z-index: 9999;
}


#connectedPage {
    display: none;
}

.scrollBar {
    height: 200px;
    overflow-x: scroll;
}

#myEvent {
    display: none;
}

#chat_wrapper {
    margin-right: auto;
    margin-left: auto;
    /*background: #CCCCCC;*/
    border: 1px solid #999999;
    padding: 10px;
}

#chat_wrapper #message_box {
    background: #FFFFFF;
    height: 350px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #999999;
}

#chat_wrapper .panel input {
    padding: 2px 2px 2px 5px;
}

#messageInput {
    width: 100%;
}

.user_name{font-weight:bold;}
.user_message{color: #88B6E0;}